parameters:
    treatPhpDocTypesAsCertain: false
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
    doctrine:
        objectManagerLoader: tests/object-manager.php
        allowNullablePropertyForRequiredField: true
        literalString: true
    ignoreErrors:
        -
            message: '#Parameter \#. \$.+ of method .+#'
            path: src/Form/*
    excludePaths:
        - src/Entity/Experiment.php
        - src/Entity/Experimental*