{% extends 'homepage.html.twig' %}

{% block title %}Gin :: {{ title }}{% endblock %}

{% block body_main %}
<div class="row">
    <div class="container container-fluid w-100 p-0 m-0">
        <twig:PageHeader :title="title" :subTitle="subtitle" icon="experiment" :barcode="false"  />

        <twig:Layout:Row>
            <twig:Layout:Col type="inner" class="col-12">
                {{ component(formComponent, {
                    initialFormData: formEntity,
                }) }}
            </twig:Layout:Col>
        </twig:Layout:Row>
    </div>
</div>
{% endblock %}