{% extends 'homepage.html.twig' %}
{% import 'layout.html.twig' as layout %}
{% import 'macros.html.twig' as macros %}
{% from 'utility/attachments.html.twig' import attachments %}

{% set var_title = "Consumables :: Order List :: " ~ title %}


{% block title %}Gin :: {{ var_title }}{% endblock %}

{% block body_main %}
<div class="row">
    <div class="container container-fluid w-100 p-0 m-0 col">
        <twig:PageHeader :title="var_title" icon="consumable" :barcode="true"  />

        <twig:Layout:Row cols="1">
            <twig:Layout:Col type="outer">
                <twig:ElementCard title="{{ title }}" icon="consumable">
                    {% if consumables|length == 0 %}
                        No results found.
                    {% else %}
                        <twig:StockKeeping:ConsumableListView :allConsumables="consumables" />
                    {% endif %}
                </twig:ElementCard>
            </twig:Layout:Col>
        </twig:Layout:Row>
    </div>
</div>
{% endblock %}