{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'parts/cells/cell_culture_macros.html.twig' as cell_culture_macros %}

{% block title %}Gin: Cell Culture{% endblock %}

{% block body_main %}
    <div class="row p-3">
        <div class="col col-12 p-5 bg-white mb-3 border">
            <div class="row">
                <h1 class="col">Cell Culture: {{ culture.name }}</h1>
            </div>
        </div>

        <div class="col col-12 p-5 bg-white mb-3 border">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
