{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'parts/cells/cell_macros.html.twig' as cell_macros %}

{% block title %}New cell culture event{% endblock %}

{% block body_main %}
    <div class="row p-3">
        <div class="col col-12 p-5 bg-white mb-3 border">
            <div class="row">
                <h1 class="col">{{ culture.name }}: New event</h1>
            </div>
        </div>

        <div class="col col-12 p-5 bg-white mb-3 border">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}