{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}
{% import 'utility/icons.html.twig' as icon %}
{% import 'parts/cells/cell_macros.html.twig' as cell_macros %}

{% block title %}Gin :: Cells{% endblock %}

{% block body_main %}
<div class="row">
    <div class="container container-fluid w-100 p-0 m-0">
        <twig:PageHeader title="Cells" icon="cell" barcode />

        <twig:Layout:Row>
            <twig:Live:CellTable>
            </twig:Live:CellTable>
        </twig:Layout:Row>
    </div>
</div>
{% endblock %}