{% extends 'homepage.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% import 'layout.html.twig' as layout %}
{% import 'parts/cells/cell_culture_macros.html.twig' as cell_culture_macros %}

{% block title %}Gin :: Cell Culture :: {{ culture.name }} :: Edit{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            {{ layout.header("Edit " ~ culture.name) }}

            {{ layout.toolbox([
                {
                    "type": "up",
                    "target": url("app_cell_culture_view", {"cellCulture": culture.id}),
                    "tooltipText": "Back to the culture",
                },
            ]) }}

            <div class="row">
                <div class="col p-0 m-0">
                    <div class="bg-white mx-3 mb-3 border p-3 p-lg-5 overflow-auto">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
