{% set column_type = html_cva(
    base: "col ",
    variants: {
        type: {
            inner: "bg-white mx-3 mb-3 border d-flex py-2 px-3 px-lg-5",
            outer: "p-0 m-0 mb-3",
            normal: "bg-white",
            none: "",
        }
    }
) %}

<div class="{{ column_type.apply({type}, attributes.render("class") ?? "") }}"
    {{ attributes.without("class") }}
>
    {% block content %}{% endblock %}
</div>