<li{{ attributes.defaults({"class": "nav-item"})}}>
    <a class="nav-link" href="{{ href }}">
        {% if icon %}<twig:Icon :icon="icon" :stack="iconStack" />{% endif %}
        {{ label }}
    </a>
</li>