<div
    class="tab-pane fade show {% if active == "active" %}active{% endif %}"
    id="form-tab-navigation-tab-{{ key }}-content"
    role="tabpanel"
    aria-labelledby="form-tab-navigation-tab-{{ key }}"
>
    <div class="row row-cols-1">
        {% block content %}{% endblock %}
    </div>
</div>