@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ua0vfp');
  src:  url('fonts/icomoon.eot?ua0vfp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ua0vfp') format('truetype'),
    url('fonts/icomoon.woff?ua0vfp') format('woff'),
    url('fonts/icomoon.svg?ua0vfp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-oligo:before {
  content: "\e900";
}
.icon-Lot:before {
  content: "\e901";
}
.icon-antibody:before {
  content: "\e902";
}
.icon-antibody-primary-twocolor .path1:before {
  content: "\e903";
  color: rgb(136, 136, 136);
}
.icon-antibody-primary-twocolor .path2:before {
  content: "\e904";
  margin-left: -0.9287109375em;
  color: rgb(0, 0, 0);
}
.icon-antibody-secondary-twocolor .path1:before {
  content: "\e905";
  color: rgb(0, 0, 0);
}
.icon-antibody-secondary-twocolor .path2:before {
  content: "\e906";
  margin-left: -0.9287109375em;
  color: rgb(136, 136, 136);
}
.icon-chemical:before {
  content: "\e907";
}
.icon-epitope-twocolor .path1:before {
  content: "\e908";
  color: rgb(0, 0, 0);
}
.icon-epitope-twocolor .path2:before {
  content: "\e909";
  margin-left: -0.9287109375em;
  color: rgb(136, 136, 136);
}
.icon-mammalian-cell:before {
  content: "\e90a";
}
.icon-plasmid:before {
  content: "\e90b";
}
.icon-plasmid-twocolor .path1:before {
  content: "\e90c";
  color: rgb(136, 136, 136);
}
.icon-plasmid-twocolor .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-protein:before {
  content: "\e90e";
}
