{% extends 'homepage.html.twig' %}

{% block title %}Gin :: {{ title }}{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            <twig:PageHeader title="{{ title }}" icon="{{ icon }}" barcode />

            <twig:Layout:Row>
                <twig:Live:SubstanceTable :type="substanceType" loading="defer" />
            </twig:Layout:Row>
        </div>
    </div>
{% endblock %}