<table class="table table-hover {% if rows|length > 0 %}fancyTable{% endif %} ">
    <thead>
        <tr>
            {% for title in header %}
                <th scope="col" {% if headerStyles is defined and headerStyles[loop.index0] %}style="{{ headerStyles[loop.index0] }}"{% endif %}>{{ title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% for field in row %}
                    <td>{{ field|raw }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>