<div{{ attributes.defaults(
    stimulus_controller("liveform")|merge({"class": "col-12"})
) }}>
    <div data-skip-morph>
        <twig:Form:TabbedForm :form="form" action="saveAndContinue"/>
    </div>

    {% block content %}
        <button class="btn btn-primary">Save and continue</button>
        {# <button class="btn btn-outline-primary" data-action="live#action:prevent" data-live-action-param="remember">Remember</button>  #}
        <button class="btn btn-outline-primary" data-action="live#action:prevent" data-live-action-param="save">Save</button>
    {% endblock %}

    {{ form_end(form) }}
</div>