<div{{ attributes.defaults({class: "p-0 m-0"}) }}>
    {% set block_content %}
        <p class="text-muted">{{ computed.table.maxNumberOfRows }} runs have been found.</p>

        <twig:Pagination :currentPage="page" :lastPage="computed.lastPageNumber" :limit="limit "/>

        <twig:Table table="{{ computed.table }}" data-loading="addClass(opacity-50)" />
    {% endset %}

    {{ block_content }}
</div>