<div{{ attributes.defaults({class: "p-0 m-0"}) }}>
    <twig:Layout:Col class="p-0 m-0 mb-3">
        <twig:Live:Search :formId="liveSearchFormType" :formType="liveSearchFormType" title="Search cells" :formData="searchResults" />
    </twig:Layout:Col>

    {% set block_content %}
        <p class="text-muted">{{ computed.table.maxNumberOfRows }} cells have been found.</p>

        <twig:Pagination :currentPage="page" :lastPage="computed.lastPageNumber" />

        <twig:Table table="{{ computed.table }}" data-loading="addClass(opacity-50)" />
    {% endset %}

    <twig:Layout:Col class="p-0 m-0 mb-3">
        <twig:ElementCard title="Results">
            {{ block_content }}
        </twig:ElementCard>
    </twig:Layout:Col>
</div>
