.dropdown-item {
    color: var(--bs-body-color) !important;
}

.dropdown-item .gin-icon-stack {
    color: var(--bs-tertiary-color);
}

label.required:after {
    content: "* ";
}

.text-light span.icon .path1:before {
    color: #f6f6f6;
}

.text-light span.icon .path2:before {
    color: #777777;
}

.list-group-root {
    border-color: var(--bs-list-group-border-color);
    border-style: solid;
    border-width: 0 var(--bs-list-group-border-width) var(--bs-list-group-border-width);
    border-radius: 0 !important;
}

.list-group-root .list-group-item {
    border-width: 0;
    padding: 0;
    margin: 0;
    border-top-width: var(--bs-list-group-border-width);
    border-radius: 0;
}

.list-group-root > .list-group-item-controller > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group-root .list-group-item:last-child {
}

.list-group-root .list-group-item-label,
.list-group-root .list-group-item-tools {
    padding: var(--bs-list-group-item-padding-y) 0;
}

.list-group-root {
    position: relative;
}

.list-group .list-group-item-tools {
    float: left;
}

.list-group-root .list-group-item-label {
    --nested-list-position: 1rem;
    position: relative;
    padding-left: var(--nested-list-position);
}

.list-group-root .list-group .list-group-item-label {
    --nested-list-position: 2rem;
}

.list-group-root .list-group .list-group .list-group-item-label {
    --nested-list-position: 3rem;
}

.list-group-root .list-group .list-group .list-group .list-group-item-label {
    --nested-list-position: 4rem;
}

.list-group-root .list-group .list-group .list-group .list-group .list-group-item-label {
    --nested-list-position: 5rem;
}

.list-group-root .list-group .list-group .list-group .list-group .list-group .list-group-item-label {
    --nested-list-position: 6rem;
}

img.greyscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.gin-sequence-widget {
    .gin-sequence-widget-content {
        margin-top: 2rlh;

        font-family: var(--bs-font-monospace) !important;
        font-size: 1rem;

        position: relative;
        z-index: 1;
    }

    .sequence {
        position: relative;
        width: 100%;
        z-index: 5;

        .group {
            float: left;
            width: 10ch;
            margin-right: 1rem;
            margin-bottom: 1.5rem;

            ::after {
                content: ' ';
            }

            :last-child {
                clear: both;
            }
        }
    }

    .sequence-enumeration {
        position: absolute;
        top: -1.1rlh;
        left: 0;
        width: 100%;
        z-index: 3;

        /*background-color: blue;
        opacity: 0.5;*/

        .counter {
            text-align: right;
            float: left;
            width: 10ch;
            margin-right: 1rem;
            margin-bottom: 1.5rem;

            ::after {
                content: ' ';
            }

            :last-child {
                clear: both;
            }
        }
    }

    .nine {
        width: 9ch !important;
    }
}