/*.gin-icon-stack {
    display: inline-block;
    white-space: nowrap;
}

.gin-icon-stack-fw {
    max-width: 1.25em;
}

.gin-icon-left {
    position: relative;
    font-size: 0.75em;
}

.gin-icon-right {
    position: relative;
    right: 1em;
    top: -0.5em;
    font-size: 0.75em;
}*/

label.required:after {
    content: "* ";
}

.text-light span.icon .path1:before {
    color: #f6f6f6;
}

.text-light span.icon .path2:before {
    color: #777777;
}


.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 40px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 80px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group-item {
    padding-left: 120px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group .list-group-item {
    padding-left: 160px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group > .list-group .list-group-item {
    padding-left: 200px;
}

