@import "~bootswatch/dist/lumen/variables";

div.gin-fancy-select.form-select {
  padding-left: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;

  div.ts-control {
    border: none;
  }
}

$list-group-active-border-color: "black";
$list-group-active-bg: $gray-200;
$list-group-active-color: $gray-900;
$enable-negative-margins: true;

@import '~bootstrap';
@import "~bootswatch/dist/lumen/bootswatch";