@import "~bootswatch/dist/lumen/variables";

div.gin-fancy-select.form-select {
  padding-left: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;

  div.ts-control {
    border: none;
    min-height: 2rem;
    }
}

@import '~bootstrap';
@import 'bootstrap/scss/variables';
@import "~bootswatch/dist/lumen/bootswatch";
@import 'cropperjs';

$list-group-active-border-color: "black";
$list-group-active-bg: $gray-200;
$list-group-active-color: $gray-900;
$enable-negative-margins: true;

:root {
  --right-icon-color: #{$body-color};
  --left-icon-color: #{$secondary};
  --left-icon-opacity: 0.6;
}

.pagination {
  --bs-pagination-disabled-color: #{$gray-300};
}

.white-tooltip {
  --bs-tooltip-color: black;
  --bs-tooltip-bg: white;
  --bs-tooltip-opacity: 1.0;
  --bs-tooltip-max-width: 20rem;

  border: 1px solid #777777;
  border-radius: var(--bs-tooltip-border-radius);
}

// Stacked icons
.dropdown-item {
  --left-icon-opacity: 1.0;

  .gin-icon-right {
    color: black;
  }
}

.gin-icon-stack {
  display: inline-block;
  white-space: nowrap;

  .gin-icon-left {
    position: relative;
    font-size: 0.75em;
    opacity: var(--left-icon-opacity);
  }

  .gin-icon-right {
    position: relative;
    right: 1em;
    top: -0.5em;
    font-size: 0.75em;
  }
}
.gin-icon-stack-fw {
  max-width: 1.25em;
}

.icon {
  .path1:before {
    color: inherit !important;
  }
}

.bg-primary {
  .path2:before {
    color: #CCC;
  }
}

tr.disabled td {
  color: var(--bs-secondary-color) !important;
  background-color: var(--bs-secondary-bg);
}

.gin-cropper {
  .gin-cropper-drop-zone {
    max-width: 100%;
    max-height: 4rem;
    border: 1px dashed #{$primary};
    padding: 1rem 0.2rem 1rem;
  }

  .gin-cropper-drop-zone {
    padding: 0px;
    min-height: 3rem;

    > div {
      margin-top: -1rem;
    }

    img {
      vertical-align: top;
      max-width: 100%;
      max-height: 3rem;
    }
  }

  .modal {
    .modal-content {
      padding: 0.5rem;

      .modal-body {
        max-width: 100%;
        padding-left: -0.5rem;

        img {
          max-width: 90%;
        }

        .cropper-container {
          left: -1rem;
        }
      }
    }
  }
}