{% extends 'homepage.html.twig' %}

{% block title %}Gin :: Experiments{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            <twig:PageHeader title="Experiments" icon="experiment" iconStack="design" barcode />

            <twig:Layout:Row>
                <twig:Live:Experiment:ExperimentalDesignTable limit="{{ app.user ? app.user.settings.param("entityPageLimit", 30).asInt }}">

                </twig:Live:Experiment:ExperimentalDesignTable>
                {# <twig:Live:CellTable limit="{{ app.user ? app.user.settings.param("entityPageLimit", 30).asInt }}">
                </twig:Live:CellTable> #}
            </twig:Layout:Row>
        </div>
    </div>
{% endblock %}
