<div {{ attributes }}>
    <details class="mb-3">
        <summary class="text-bold h5 mb-3">Quick order form</summary>

        <p class="text-muted">This form only adds lots—it does not actually place an order.</p>

        <twig:Form:CompactForm :form="form" formAttributes="{{ {
            attr: {
                'data-action': 'live#action:prevent',
                'data-live-action-param': 'placeQuickOrder'
            }
        } }}">
            <button class="btn btn-outline-primary">Place order</button>
        </twig:Form:CompactForm>
    </details>


    <button {{ live_action("toggleShowEmpty") }} class="btn btn-outline-primary mb-3">
        <twig:Icon icon="{{ showEmpty ? "view" : "hidden" }}" /> {{ showEmpty ? "Empty shown" : "Empty hidden" }}
    </button>

    <ul class="list-group">
        {% for lot in this.lots|sort((a, b) => (a.sortValue == b.sortValue ? a.lotIdentifier <=> b.lotIdentifier : b.sortValue <=> a.sortValue)) %}
            <twig:StockKeeping:ConsumableLotItem :lot="lot" />
        {% endfor %}
    </ul>
</div>