{% extends 'base.html.twig' %}

{% block title %}Cell Genie{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 border-right">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <h6><a class="nav-link" href="{{ url("app_cells") }}">Cells</a></h6>
                    </li>
                </ul>
            </div>

            <main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5" role="main">
                {% if app.session.flashbag.peekAll|length > 0 %}
                    {% for type, messages in app.session.flashbag.all %}
                        {% if type == "error" %}
                            {% set css_type = "alert-danger" %}
                        {% else %}
                            {% set css_type = "alert-info" %}
                        {% endif %}

                        {% for message in messages %}
                            <div class="alert {{ css_type }}">
                                {{ message|trans({}, domain|default('messages')) }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                {% block body_main %}{% endblock %}
            </main>
        </div>
    </div>

{% endblock %}