{% extends 'base.html.twig' %}

{% block title %}Gin{% endblock %}

{% block body %}
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            {# main content #}
            <main class="col p-3 bg-secondary" role="main">
                {% block body_main -%}
                    <div class="row">
                        <div class="container container-fluid w-100 p-0 m-0">
                            {% block body_container %}{% endblock %}
                        </div>
                    </div>
                {%- endblock %}
            </main>
        </div>
    </div>

{% endblock %}