{% extends 'homepage.html.twig' %}

{% block title %}Cell Genie{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="col col-md-6 col-sm-12 p-3">
            <h1 class="bg-white p-5 border">System changes</h1>
            {% if systemMessages > 0 %}
                {% for message in systemMessages.messages %}
                    <div class="bg-white mt-3 border">
                        <h2 class="bg-dark text-white p-3 border-bottom border-dark">{{ message.title }}</h2>

                        <div class="p-3">
                            {{ message.body|raw }}
                        </div>

                        <p class="px-3">
                            <small class="text-muted">{{ message.date|date("d. F Y H:i") }} by {{ message.author }}</small>
                        </p>
                    </div>
                {% endfor -%}
            {% endif -%}
        </div>

        {# <div class="col col-md-6 col-sm-12 p-3">
            Dah
        </div> #}
    </div>
{% endblock %}