<span{{ attributes }}>
    {% set format = "Y-m-d" %}
    {% if app.user %}
        {% set format = app.user.settings.param('dateFormat', "Y-m-d").asString %}
    {% endif %}

    {{ dateTime|date(format) }}
</span>