<span{{ attributes }}>
    {% if title %}
    <a href="{{ href }}">
        {{ title }}
        <twig:Icon icon="external" />
    </a>
    {% else %}
        <span class="text-muted">empty</span>
    {% endif %}
</span>
