<span {{ attributes.defaults({"class": this.iconClass})}}>
    {%- if stack -%}
        {%- cache "gin-icon-stack-" ~ icon ~ "-" ~ stack -%}
            <twig:Icon :icon="icon" class="gin-icon-left "/>
            <twig:Icon :icon="stack" class="gin-icon-right" />
        {%- endcache -%}
    {%- else -%}
            {{ this.iconContent|raw }}
    {%- endif -%}
</span>