<span{{ attributes }}>
    {% if value %}
        <span class='fas fa-fw fa-toggle-on' aria-valuetext='Yes'></span>
    {% else %}
        <span class='fas fa-fw fa-toggle-off' aria-valuetext='No'></span>
    {% endif %}
</span>