{% extends 'homepage.html.twig' %}
{% import 'layout.html.twig' as layout %}

{% block title %}Gin :: Instruments{% endblock %}

{% macro row_tools(instrument) %}
    {% import 'layout.html.twig' as layout %}

    {% if instrument == null %}
    {% else %}
        {{ layout.toolbox_column([
            {
                "type": "view",
                "tooltipText": "View instrument",
                "target": url("app_instruments_view", {"instrument": instrument.id}),
            },
            {
                "type": "edit",
                "tooltipText": "Edit instrument",
                "target": url("app_instruments_edit", {"instrument": instrument.id}),
                "disabled": not is_granted("edit", instrument)
            },
            {
                "type": "clipboard",
                "tooltipText": "Copy information",
                "clipboardText": ( instrument.citationText|escape("html_attr") ),
                "disabled": not instrument.citationText,
            }
        ]) }}
    {% endif %}
{% endmacro %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            <twig:PageHeader title="Instruments" icon="instrument" barcode />

            <twig:Layout:Row>
                <twig:Layout:Col type="inner">
                    <twig:Toolbox :toolbox="toolbox" />
                </twig:Layout:Col>
            </twig:Layout:Row>

            <twig:Layout:Row>
                <twig:Layout:Col type="outer">
                    <twig:ElementCard title="Instruments" icon="instrument">
                        <twig:Layout:Row cols="1" md="2" xl="3" class="gx-3 gy-5">
                            {% for row in instruments|filter(e => e.instrument.parent is null)|sort((a, b) => a.role == b.role ? a.instrument.instrumentNumber <=> b.instrument.instrumentNumber : (a.role == "untrained" ? 1 : 0)) %}
                                {% set role = row.role %}
                                {% set instrument = row.instrument %}

                                <twig:Layout:Col type="normal">
                                    <twig:Instrument:InstrumentCard :instrument="instrument" :userRole="role" />
                                </twig:Layout:Col>
                            {% endfor %}
                        </twig:Layout:Row>
                    </twig:ElementCard>
                </twig:Layout:Col>
            </twig:Layout:Row>
        </div>
    </div>
{% endblock %}