{% extends 'homepage.html.twig' %}
{% import 'layout.html.twig' as layout %}

{% block title %}Gin :: Instruments{% endblock %}

{% block body_main %}
    <div class="row">
        <div class="container container-fluid w-100 p-0 m-0">
            <twig:PageHeader title="Instruments" icon="instrument" barcode />

            <twig:Layout:Row>
                <twig:Layout:Col type="inner">
                    <twig:Toolbox :toolbox="toolbox" />
                </twig:Layout:Col>
            </twig:Layout:Row>

            <twig:Layout:Row>
                <twig:Layout:Col type="outer">
                    <twig:ElementCard title="Instruments" icon="instrument">
                        <twig:Layout:Row cols="1" md="2" xl="3" class="gx-3 gy-5">
                            {% set mainInstruments = instruments|filter(e => e.instrument.parent is null) %}
                            {% set activeInstruments = mainInstruments|filter(e => e.instrument.active) %}
                            {% set inactiveInstruments = mainInstruments|filter(e => not e.instrument.active) %}

                            {% for row in activeInstruments|sort((a, b) => a.role == b.role ? a.instrument.instrumentNumber <=> b.instrument.instrumentNumber : (a.role == "untrained" ? 1 : 0)) %}
                                {% set role = row.role %}
                                {% set instrument = row.instrument %}

                                <twig:Layout:Col type="normal">
                                    <twig:Instrument:InstrumentCard :instrument="instrument" :userRole="role" />
                                </twig:Layout:Col>
                            {% endfor %}

                            {% for row in inactiveInstruments %}
                                {% set role = row.role %}
                                {% set instrument = row.instrument %}

                                <twig:Layout:Col type="normal">
                                    <twig:Instrument:InstrumentCard :instrument="instrument" :userRole="role" />
                                </twig:Layout:Col>
                            {% endfor %}
                        </twig:Layout:Row>
                    </twig:ElementCard>
                </twig:Layout:Col>
            </twig:Layout:Row>
        </div>
    </div>
{% endblock %}